/*  Base    */

body {
    padding: 3rem 0;
    background: rgba(252, 237, 206, .25);
    color: #3c4151;
}

thead {
    border: 0 solid transparent;
    background-color: transparent;
}

thead>tr:nth-child(even) {
    background: #91e0c4;
}

tbody {
    background-color: transparent;
}

tbody tr:nth-child(even) {
    background-color: #ffe1a9;
}

legend {
    margin: 0;
    font-weight: 700;
    padding: .5rem .95rem .5rem;
}

/*  Theme  */

th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
}

/*  Trumps  */
.schedule-form{
  background-color: #B5D3E7;
  height:350px;
  overflow:scroll;
}
.schedule-form label>input {
    display: block;
    margin-bottom: 1rem;
    padding: .5rem;
    width: 100%;

}

.schedule-table {
    margin: 2rem 0;

}

@media (min-width: 1080px) {
    .schedule-table {
        margin: 0;
    }
}

/*Form Pop-up - This is the bulk of what I did, creating a pop-up for the shift form*/

.createshift{
  margin-top:10px;
  margin-left:50%;
  padding:15px;
  color:darkgreen;
  background-color:#bed48c;
}

.createshift:hover{
  color:#bed48c;
  background-color:darkgreen;

}

.dark-background{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s
}

.popup-content{

  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color:white;
  padding:10px 15px;
  width:500px;
  border-radius:0.5rem;
  height: 375px;
}

.show-popup{
  opacity:1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s,opacity 0.25s transform0.25s;
}
